<% layout('/layout/boilerplate') -%>

<body>

    <div class="container">
    <!-- <form action="/new" method="get">
        <button>Create New </button>
    </form> -->
        <ul>
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(data of listingall){ %>
                <a href="/listing/<%= data.id %>" class="title-decor">
                    <div class="card mb-3 listing-card">
                        <img src="<%= data.image.url %>" class="card-img-top" style="height: 20rem;" alt="Destination Image">
                        <div class="card-body">
                          <p class="card-text">
                            <b><%= data.title %></b><br>
                            &#8377; <%= data.price.toLocaleString('en-IN') %> /night

                        </p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
        </ul>
    </div>
    
</body>


